<div class="container text-center">
    <div class="row">
        <div class="col-md-5">
            <div class="bioDesc">
                <h2>biography</h2>
                <p>
                    <b>Ryan Rose</b> is a saxophonist, arranger, and student currently finishing up two degrees at 
                    Case Western Reserve University (CWRU). Ryan will graduate in Spring 2017 with a Bachelors of Science 
                    in Engineering (BSE) in Computer Engineering and a Bachelors of Art (BA) in Music. 
                </p>
                <p>
                    While at CWRU, Ryan has studied saxophone with Greg Banaszak, and has played for artists such
                    as Olli-Pekka Tuomisalo, Velvet Brown, Bill Dobbins, and George Weremchuck among others. Ryan has
                    played internationally in Germany, the Netherlands, and Finland, both as a soloist and as part of
                    a saxophone quartet. In 2015 Ryan won the Terr Ronis Memorial Recital Prize, and in 2016 Ryan was awarded 
                    first prize in the Great Composers Competition Series: The Art of Woodwinds and Brass. Ryan has
                    played with the following groups:
                    <ul style="list-style: none;">
                        <li>CWRU Symphonic Winds</li>
                        <li>University Circle Wind Ensemble</li>
                        <li>CWRU Jazz Ensemble I and II</li>
                        <li>CWRU Saxophone Studio Ensemble</li>
                        <li><a class="bioA" href="https://www.facebook.com/IngeniareQuartet/">The Ingeniare Quartet</a></li>
                        <li>Case/University Circle Symphony Orchestra</li>
                        <li>Cleveland Institute of Music Orchestra</li>
                        <li><a class="bioA" href="http://www.firelandssymphony.com/fsocms/">Firelands Symphony Orchestra</a></li>
                    </ul>
                </p>
                <p>
                    Ryan is also the president and co-music director of CWRU's premiere all-male a cappella group, Speakeasy.
                    For this group Ryan has written over a dozen arrangements of contemporary songs. He has also arranged for
                    female a cappella, mixed a cappella, and various non-choral chamber groups. 
                </p>
                <p>
                    As a computer engineering student and programmer, Ryan has worked with numerous languages on an array of 
                    projects that can be found on his <a class="bioA" href="https://github.com/rytrose">github account</a> or on this site 
                    under <a class="bioA" href"http://rytrose.com/projects">projects</a>. Post-graduation, Ryan is looking to employ his technical skills in
                    the musical world, bringing together music and techonology in a meaningful and accessible way. Ryan is 
                    interested in how technology can be leveraged to augment and revitalize the genre of classical music. 
                    Additionally, Ryan wants to study the role of music in momunments and memorials, with emphasis on how 
                    music relates to emotional memory.
                </p>
                <p><a class="btn btn-default" target="_blank" href="https://s3.amazonaws.com/rytrose-personal-website/Ryan+Rose_Resume_CE_July+2016.pdf"><b>resumé</b></a></p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="loading">
                <img src="/images/ring-alt.gif">
            </div>
            <div class="grid" style="display:none">
                <% for(var i = 0; i < filesMeta.length; i++) { %>
                <div class="grid-item">
                  <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= filesMeta[i].fd %>" >
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>