<div class="container text-center">
    <div class="row">
        <div class="col-md-5">
            <div class="bioDesc">
                <h2>biography</h2>
                <p>
                    <b>Ryan Rose</b> is a saxophonist, arranger, and student who recently graduated from 
                    Case Western Reserve University (CWRU). Ryan graduated with a Bachelor of Science 
                    in Engineering (BSE) in Computer Engineering and a Bachelor of Arts (BA) in Music. 
                </p>
                <p>
                    While at CWRU, Ryan studied saxophone with Greg Banaszak, and played for artists such
                    as Olli-Pekka Tuomisalo, Velvet Brown, Bill Dobbins, and George Weremchuck among others. Ryan has
                    played internationally in Germany, the Netherlands, and Finland, both as a soloist and as part of
                    a saxophone quartet. In 2015, Ryan won the Terr Ronis Memorial Recital Prize, and in 2016 Ryan was awarded 
                    first prize in the Great Composers Competition Series: The Art of Woodwinds and Brass. Ryan has
                    played with the following groups:
                    <ul style="list-style: none;">
                        <li>CWRU Symphonic Winds</li>
                        <li>University Circle Wind Ensemble</li>
                        <li>CWRU Jazz Ensemble I and II</li>
                        <li>CWRU Saxophone Studio Ensemble</li>
                        <li><a class="bioA" target="_blank" href="https://www.facebook.com/IngeniareQuartet/">The Ingeniare Quartet</a></li>
                        <li>Case/University Circle Symphony Orchestra</li>
                        <li>Cleveland Institute of Music Orchestra</li>
                        <li><a class="bioA" target="_blank" href="http://www.firelandssymphony.com/fsocms/">Firelands Symphony Orchestra</a></li>
                    </ul>
                </p>
                <p>
                    Ryan also served as president and music director for CWRU's premiere all-male a cappella group, Speakeasy.
                    For this group Ryan has written over a dozen arrangements of contemporary songs. He has also arranged for
                    female a cappella, mixed a cappella, and various non-choral chamber groups. 
                </p>
                <p>
                    As a computer engineering student and programmer, Ryan has worked with numerous languages on an array of 
                    projects that can be found on his <a class="bioA" target="_blank" href="https://github.com/rytrose">github account</a> or on this site 
                    under <a class="bioA" target="_blank" href="http://rytrose.com/projects">projects</a>. 
                </p>
                <p>
                    Ryan is currently attending Georgia Institute of Technology in pursuit of a Masters degree in Music Technology.
                    He is a Graduate Research Assisstant under Jason Freeman, and the software lead on <a class="bioA" target="_blank" href="https://adamlab.gatech.edu/tunetable/">TuneTable</a>, 
                    a tangible user interface for teaching middle- and high-school kids computational concepts while making music.
                </p>
                <p>
                    Ryan's research interests center around groups of people and collaboration in music. How can a mass of people influence a performance as a set of individuals? 
                    How can technological performances communicate system behavior to an audience? In what ways can audience interaction be accessible yet musically stimulating?
                </p>
                <p><a class="btn btn-default" target="_blank" href="https://s3.amazonaws.com/rytrose-personal-website/Ryan+Rose_Resume_September+2017.pdf">résumé</a></p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="loading">
                <img src="/images/ring-alt.gif">
            </div>
            <div class="grid" style="display:none">
                <% bioThumbs = [{fd: "de4feee7-3f2f-489f-92ef-edb38771bfcc.jpg"}, {fd: "a3178de5-8926-4fde-b80f-82d9cd21f6da.jpg"}]; %>
                <% filesMeta = [{fd: "b5be0a56-17c6-4cc8-ae4f-96717315ccb6.jpg"}, {fd: "a9e692f3-496c-46b7-9c9c-6fd81cc42b42.jpg"}]; %>
                <% for(var i = 0; i < bioThumbs.length; i++) { %>
                <div class="grid-item-bio">
                  <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= bioThumbs[i].fd %>" >
                  <button type="button" class="btn btn-default btn-xs overlay-bio" data-toggle="modal" data-target="#picModal" data-button="<%= filesMeta[i].fd %>">full size</button>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img width="100%" id="enlargedImg" src="">
      </div>
    </div>
  </div>
</div>

<script src="/js/dependencies/jquery-3.1.1.min.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script>
    $('#picModal').on('show.bs.modal', function(e){
        $("#enlargedImg").attr("src", "https://s3.amazonaws.com/rytrose-personal-website/" + $(e.relatedTarget).data('button'));
    });
</script>