<div class="container">
  <div class="confirmation">
    <h1>welcome, <%= follower.name %>!</h1>
    <h3>updates on Ryan's works will be sent to <%= follower.email %></h3>

    <a class="btn btn-default" href="/">Home</a>
  </div>
</div>
