<div class="container">
    <form action="/followers/create" method="POST" class="form-signin">
      <h2 class="form-signin-heading">sign up to follow Ryan</h2>

      <% if(flash && flash.err) { %>
        <ul class="alert alert-success" style="list-style: none">
      <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
    <% } %>
      <input type="text" class="form-control" placeholder="your name" name="name">

      <input type="text" class="form-control" placeholder="your email" name="email">

      <input type="submit" class="btn btn-default" value="follow"/>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
</div>
