<div class="container">
  <form enctype="multipart/form-data" action="/file/create" method="POST" class="form-file">
    <h2 class="form-file-heading">upload file</h2>

    <% if(flash && flash.err) { %>
      <ul class="alert alert-success" style="list-style: none">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- flash.err[error].message %></li>
    <% }) %>
  </ul>
  <% } %>

    <input type="text" class="form-control" placeholder="type" name="type">
    <input type="text" class="form-control" placeholder="filename" name="filename">
    <input type="file" class="form-control" placeholder="file" name="toUpload" multiple="multiple">

    <input type="submit" class="btn btn-default" value="upload"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
<!-- test -->
