<div class="loading">
  <img src="/images/ring-alt.gif">
</div>

  <!-- Masonry grid HTML -->
<ul class="grid-arr" style="display:none">
  <% for(var i = 0; i < thumbnails.length; i++) { %>
  <li class="grid-item-arr">
    <% for(var j = 0; j < arrangements.length; j++) { %>
      <% if(arrangements[j].title === thumbnails[i].filename) { %>
        <a href="/arrangements/show/<%= arrangements[j].id %>">
        <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= thumbnails[i].fd %>" >
        </a>
      <% } %>
    <% } %>
  </li>
  <% } %>
</ul>
