<div class="container">
  <form enctype="multipart/form-data" action="/arrangements/create" method="POST" class="form-arrangements">
    <h2 class="form-arrangements-heading">add arrangement</h2>

    <% if(flash && flash.err) { %>
      <ul class="alert alert-success" style="list-style: none">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- flash.err[error].message %></li>
    <% }) %>
  </ul>
  <% } %>

    <input type="text" class="form-control" placeholder="title" name="title">
    <input type="text" class="form-control" placeholder="instrumentation" name="instrumentation">
    <input type="text" class="form-control" placeholder="originalArtist" name="originalArtist">
    <input type="text" class="form-control" placeholder="description" name="description">

    <input type="submit" class="btn btn-default" value="add"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
