<!-- <script src="/js/dependencies/jquery-3.1.1.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script> -->
<div class="container">
  <div class="jumbotron">
    <h1>Ryan Rose</h1>

    <h2>saxophonist, arranger, developer<h2>
    <a href="/followers/new" class="btn btn-default">follow Ryan</a>
  </div>
  <!-- <div>
    <% for(var i = 0; i < filesMeta.length; i++) { %>
    <img src="/images/<%= i %>.jpg" height="200" width="200" style="visibility:hidden">
    <% } %>
  </div> -->
</div>

  <!-- Masonry grid HTML -->
<div class="grid">
  <% for(var i = 0; i < filesMeta.length; i++) { %>
  <div class="grid-item">
    <a href="#">
      <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= filesMeta[i].fd %>" >
    </a>
  </div>
  <% } %>
</div>
