<!-- <script src="/js/dependencies/jquery-3.1.1.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script> -->
<div class="container">
  <div class="jumbotron">
    <h1>Ryan Rose</h1>

    <h2>saxophonist, arranger, developer<h2>
    <a href="/followers/new" class="btn btn-default">follow Ryan</a>
  </div>
</div>

<div class="loading">
  <img src="images/ring-alt.gif">
</div>

  <!-- Masonry grid HTML -->
<ul class="grid" style="display:none">
  <% for(var i = 0; i < filesMeta.length; i++) { %>
  <li class="grid-item">
    <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= filesMeta[i].fd %>" >
  </li>
  <% } %>
</ul>
