<div class="container">
  <div class="loading">
    <img src="/images/ring-alt.gif">
  </div>
  <!--Masonry grid HTML -->
  <div class="grid" style="display:none">
    <div class="stamp text-center">
      <h1>Ryan Rose</h1>
      <p>musician, arranger, developer</p>
      <a href="/followers/new" class="btn btn-default">follow Ryan</a>
    </div>
    <% for(var i = 0; i < filesMeta.length; i++) { %>
    <div class="grid-item">
      <img class="masonry-home" src="https://s3.amazonaws.com/rytrose-personal-website/<%= filesMeta[i].fd %>" >
    </div>
    <% } %>
  </div>
</div>