body {
  padding-bottom: 40px;
  font-family: 'Numans', sans-serif;
}

.container {
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  max-width: 100%;
}

.navbar {
  background-color: transparent;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 24px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-right {
  margin-right: 5px;
}

.nav > li > a {
  padding-left: 40px;
  padding-right: 40px;
}

.jumbotron {
  margin-top: 30px;
  background-color: transparent;
}

.btn-default:hover{
  background-color: #cce0ff;
}

/* Forms and Follow */

.form-signin {
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.form-signin h2 {
  font-size: 1.4em;
  text-align: center;
}

.form-signin input {
  margin-bottom: 10px;
}

.confirmation {
  text-align: center;
}

.footer a {
  color: #777777;
}

.loading img {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* HOME */
.name {
  margin-top: 0; 
  margin-bottom: 0;
  padding-bottom: 24px;
}

.homeEmail {
  padding-top: 18px;
  font-size: 16px !important;
}

.name, .musician, .arranger, .developer{
  opacity: 0;
}

.projButton {
  margin-top: 24px;
}

.home h2 {
  font-size: 24px !important;
}

.home h2 a {
  color: #5e5e5e;
}

.home h2 a:hover{
  color: black;
  text-decoration: none;
}

.homeP {
  position: relative;
  top: 0;
  margin-top: 35%;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  text-align: center;
  transition: all .25s ease-in-out;
  font-size: 18px !important;
  color: #000000;
} 

.homeArr {
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
}

.langs {
  list-style: none;
}

.langs li {
  font-size: 16px;
}

.langs li:before {
    content: "+";
    margin-right: 8px;
}

.devRow {
  padding-top: 15px;
}

/* Masonry -- BIO */
.grid, .grid-arr {
	max-width: 100%;
	margin: 2% 4%;
	padding: 0;
}

.grid-item {
	display: block;
	float: left;
	padding: 4px;
	width: 25%;
}


.grid div img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.grid-item-gigante {
  display: block;
  float: left;
  padding: 7px;
  width: 50%;
}

.grid-item:hover {
  border: 2px solid #cce0ff;
  cursor: pointer;
}

.stamp {
  padding: 2%;
  padding-top: 0px;
  position: absolute;
  width: 50%;
}

.stamp h1 {
  letter-spacing: 6px;
  font-size: 4vw;
}

.stamp p {
  font-size: 1.8vw;
}

.stamp .btn {
  font-size: 1.6vw;
}

/* Masonry -- ARRANGEMENTS */
.grid-item-arr {
	display: block;
	float: left;
	padding: 10px;
	width: 25%;
}

.grid-arr img {
  position: relative;
	outline: none;
	border: 1px solid #000;
	display: block;
	max-width: 100%;
	overflow:hidden;
	transition: all .25s ease-in-out;
}

.grid-item-arr:hover {
  cursor: pointer;
}

.grid-item-arr:hover p{
  opacity: 1;
}

.grid-item-arr:hover .overlay{
  border: 1px solid #000;
  background-color: #cce0ff;
  opacity: .9;
}

.grid-item-arr:hover img{
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .25s ease-in-out;
  z-index: 999;
}

.overlay p {
  position: relative;
  top: 0;
  margin-top: 35%;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  text-align: center;
  transition: all .25s ease-in-out;
  font-size: 1.8vw;
  color: #000000;
}


/* PDFObject */
#pdf {
  height: 700px;
  border: 1px solid #777;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* Audio */
.audio {
  margin-top: 10%;
}

/* Performances tabs */
.per-tab-row{ margin-top: 1%;}
.nav.nav-justified > li > a {
  position: relative; 
}
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }

.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #cce0ff; }
.nav.nav-justified > li > a > img {
    width: 100px;
    height: 100px;
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li > a > img:hover,
.nav.nav-justified > li > a > img:focus { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

.audioPer {
  margin-top: 12px;
}

/* Masonry -- PERFORMANCES */
.grid-item-per {
	display: block;
	float: left;
	padding: 10px;
	width: 50%;
}

.grid-per img {
  position: relative;
	outline: none;
	border: 1px solid #000;
	display: block;
	max-width: 100%;
	overflow:hidden;
	transition: all .25s ease-in-out;
}

.grid-item-per:hover {
  cursor: pointer;
}

.grid-item-per:hover p{
  opacity: 1;
}

.grid-item-per:hover .overlay-per{
  border: 1px solid #000;
  background-color: #cce0ff;
  opacity: .9;
}

.grid-item-per:hover img{
  border: none;
}

.overlay-per {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .25s ease-in-out;
  z-index: 999;
}

.overlay-per p {
  position: relative;
  top: 0;
  margin-top: 20%;
  opacity: 0;
  text-align: center;
  transition: all .25s ease-in-out;
  font-size: 1.8vw;
  color: #000000;
}

.perLabel {
  font-weight: bold;
  margin-bottom: 0px;
}

/* Bio page */
.bioDesc h2 {
  margin-top: 40px;
}

.bioDesc p {
  margin-top: 40px;
}

.bioA {
  color: #5e5e5e;
  border-bottom: 1px dotted #5e5e5e;
}

.bioA:hover{
  color: black;
  text-decoration: none;
}

.bioImg {
  margin-top: 4%;
  width: auto;
  height: 500px;
	border: 1px solid #000;
}

/* Projects */
.projects {
  margin-top: 12px;
}

.projects h2 {
  padding-left: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color: #000;
  background-color: #cce0ff;
}

.projA {
  color: #5e5e5e;
  border-bottom: 1px dotted #5e5e5e;
}

.projA:hover{
  color: black;
  text-decoration: none;
}

.nav-pills > li > a {
  color: #000;
}

.padRight {
  padding-right: 24px;
}

/* SCP */
.scpReturn {
  padding-left: 20px;
  padding-top: 20px;
}

.info label {
    font-size: .8em;
}

.label {
    font-size: 70px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}