body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar-brand {
    color: black;
}

.jumbotron h1 {
  letter-spacing: 6px;
}

.jumbotron h2 {
  font-size: 1.2em;
}

.jumbotron {
  text-align: center;
  background-color: #f4f4f4;
}

.form-signin {
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.form-signin h2 {
  font-size: 1.4em;
  text-align: center;
}

.form-signin input {
  margin-bottom: 10px;
}

.confirmation {
  text-align: center;
}

.footer a {
  color: #777777;
}

/* Masonry img sizes */
.masonry-home {
  width: 100%;
}

/* Masonry fluid grids */
.grid {
  margin-right: auto;
  margin-left: auto;
  background: #f4f4f4;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  height: 240px;
  width: 25%;
  float: left;
  border: 2px solid #f4f4f4;
  border-radius: 2px;
  background: #000;
}

.grid-item img {
  width: 100%;
}

.grid-item--gigante {
  width: 720px;
  height: 540px;
}

.grid-item:hover {
  border-color: white;
  cursor: pointer;
}
