body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar-default .navbar-brand {
    color: black;
}

.jumbotron h1 {
  letter-spacing: 6px;
}

.jumbotron h2 {
  font-size: 1.2em;
}

.jumbotron {
  text-align: center;
  background-color: #f4f4f4;
  margin-top: 10px;
  margin-bottom: 0px;
}

.form-signin {
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.form-signin h2 {
  font-size: 1.4em;
  text-align: center;
}

.form-signin input {
  margin-bottom: 10px;
}

.confirmation {
  text-align: center;
}

.footer a {
  color: #777777;
}

.loading img {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Masonry */
.grid {
	max-width: 80em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid-item {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.grid-item-gigante {
  display: block;
  float: left;
  padding: 7px;
  width: 66%;
}

.grid-item:hover {
  border: 1px solid #efefef;
  cursor: pointer;
}
